.baseText {
    
   
    background-color: red;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align:center;
    margin: 0 auto;
}

#incorrect-letters { 
    border:2px solid black; 
    background-color: white; 
    color: black;
    height:1.5em; 
    font-family:monospaced;
    letter-spacing:.75em;
    font-weight:bold;
    line-height:1.5em;
    font-size:1.5em;
    padding:0 10px;
  }
  
  .letter { 
    float:left; 
    margin-top: 30px;
    border-bottom:2px solid black;
    font-size:2em;
    color:green;
    width:2em;
    height:1em;
    margin-right:1em;
    text-align:center;
  }
  
  .winner {
    background-color:yellow;
    border:5px solid green;
    height:2.5em;
  }

  #stickpic {
    
    width: 400px;
    height: 500px;
    margin-right: 40%;
}